@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
@media (min-width: 100em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  padding: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}
@media (max-width: 60em) {
  body {
    padding: 1.2rem;
  }
}
@media (max-width: 34em) {
  body {
    padding: 0;
  }
}

::selection {
  color: #fff;
  background-color: #55c57a;
}

.heading__primary {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.heading__primary--main {
  display: block;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
  animation: moveInLeft 1s ease-in;
}
@media (max-width: 48em) {
  .heading__primary--main {
    font-size: 5.4rem;
    letter-spacing: 2rem;
  }
}
@media (max-width: 34em) {
  .heading__primary--main {
    font-size: 4.8rem;
    letter-spacing: 1.5rem;
  }
}
@media (max-width: 24em) {
  .heading__primary--main {
    font-size: 4.4rem;
    letter-spacing: 1.2rem;
  }
}
.heading__primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-in;
}
@media (max-width: 48em) {
  .heading__primary--sub {
    letter-spacing: 1rem;
  }
}
@media (max-width: 34em) {
  .heading__primary--sub {
    font-size: 1.6rem;
    letter-spacing: 1rem;
  }
}
@media (max-width: 24em) {
  .heading__primary--sub {
    font-size: 1.4rem;
    letter-spacing: 0.8rem;
  }
}

.heading__secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: transparent;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}
.heading__secondary:hover, .heading__secondary:active {
  transform: scale(1.07) translateY(-0.5rem);
  text-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 48em) {
  .heading__secondary {
    font-size: 2.6rem;
  }
}
@media (max-width: 34em) {
  .heading__secondary {
    font-size: 2.2rem;
  }
}
@media (max-width: 24em) {
  .heading__secondary {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    width: 90%;
  }
}

.heading__tertiary {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #777;
}
@media (max-width: 34em) {
  .heading__tertiary {
    font-size: 1.6rem;
  }
}

.description {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
@media (max-width: 34em) {
  .description {
    font-size: 1.4rem;
  }
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.u-text-center {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
@media (max-width: 34em) {
  .u-margin-bottom-medium {
    margin-bottom: 2rem;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}
@media (max-width: 48em) {
  .u-margin-bottom-big {
    margin-bottom: 4rem;
  }
}
@media (max-width: 34em) {
  .u-margin-bottom-big {
    margin-bottom: 2.4rem;
  }
}

.u-margin-top-medium {
  margin-top: 3rem;
}

.about__box {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
}
@media (max-width: 60em) {
  .about__box {
    column-gap: 2.4rem;
  }
}
@media (max-width: 48em) {
  .about__box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 6.4rem;
  }
}
@media (max-width: 34em) {
  .about__box {
    padding-block: 0;
  }
}
@media (max-width: 24em) {
  .about__box {
    row-gap: 8rem;
  }
}
.about__box--img {
  position: relative;
}
@media (max-width: 60em) {
  .about__box--img {
    margin-top: 3rem;
  }
}
@media (max-width: 48em) {
  .about__box--img {
    margin-top: 0rem;
  }
}

.bg__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.15;
  z-index: -1;
  overflow: hidden;
}
.bg__video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.booking {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 55%, transparent 55%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
@media (max-width: 48em) {
  .booking {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
  }
}
@media (max-width: 34em) {
  .booking {
    max-width: 85%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 100%, transparent 100%), url(../img/nat-10.jpg);
  }
}
@media (max-width: 24em) {
  .booking {
    max-width: 90%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 100%, transparent 100%), url(../img/nat-10.jpg);
  }
}

.booking-form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 60em) {
  .booking-form {
    width: 54%;
    padding: 3rem;
  }
}
@media (max-width: 48em) {
  .booking-form {
    width: 65%;
    padding: 3rem;
  }
}
@media (max-width: 34em) {
  .booking-form {
    width: 85%;
    padding: 3rem;
  }
}
@media (max-width: 24em) {
  .booking-form {
    width: 95%;
    padding: 3rem;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group-input {
  display: block;
  font-family: inherit;
  width: 90%;
  border-radius: 3px;
  border: none;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}
@media (max-width: 48em) {
  .form__group-input {
    max-width: 80%;
  }
}
@media (max-width: 34em) {
  .form__group-input {
    max-width: 95%;
  }
}
.form__group-input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
}
.form__group-input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__group-input::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: #999;
}
.form__group-label {
  display: block;
  font-weight: 700;
  font-family: inherit;
  margin-left: 2rem;
  font-size: 1.2rem;
  padding-top: 0.8rem;
  color: #333;
  transition: all 0.5s ease;
}
.form__group-input:placeholder-shown + .form__group-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.radio__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 48em) {
  .radio__container {
    flex-direction: column;
    gap: 2.4rem;
    align-items: flex-start;
  }
}

.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.6rem;
  color: #777;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 48em) {
  .form__radio-label {
    font-size: 2rem;
  }
}
.form__radio-span {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: relative;
}
.form__radio-span::after {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #55c57a;
  border-radius: 50%;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.form__radio-input:checked + .form__radio-label .form__radio-span::after, .form__radio-input:focus + .form__radio-label .form__radio-span::after {
  opacity: 1;
}

@media (max-width: 34em) {
  .form__button-container {
    margin-top: 4rem;
  }
}

.btn {
  position: relative;
}
.btn:link, .btn:visited {
  border: none;
  justify-self: center;
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-decoration: none;
  padding: 1.6rem 4rem;
  border-radius: 10rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  color: #777;
  background-color: #fff;
}
.btn--green {
  color: #fff;
  background-color: #55c57a;
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.5s ease;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn--text {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  color: #55c57a;
  padding: 0px 4px 3px 4px;
  border-bottom: 1px solid #55c57a;
  transition: all 0.3s ease;
}
.btn--text:hover {
  transform: translateY(-0.5rem);
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn--text:active {
  transform: translateY(-0.2rem);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--form {
  display: inline-block;
  padding: 1.5rem 3rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 10rem;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn--submit {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.btn--submit span {
  display: inline-block;
  margin-top: -0.3rem;
}

.card {
  position: relative;
  height: 52rem;
  -webkit-perspective: 50rem;
  perspective: 50rem;
}
@media (max-width: 34em) {
  .card {
    height: auto;
  }
}
.card__side {
  height: 52rem;
  font-size: 1.6rem;
  border-radius: 3px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.8s ease;
  overflow: hidden;
}
@media (max-width: 34em) {
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
}
.card__side--front {
  background-color: #fff;
}
@media (max-width: 34em) {
  .card__side--front {
    height: 100%;
  }
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}
@media (max-width: 34em) {
  .card__side--back--1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  }
}
.card__side--back--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}
@media (max-width: 34em) {
  .card__side--back--2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  }
}
.card__side--back--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}
@media (max-width: 34em) {
  .card__side--back--3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  }
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
@media (max-width: 34em) {
  .card:hover .card__side--front {
    transform: rotateY(0deg);
  }
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  height: 23rem;
  background-size: cover;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
  text-align: right;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 3rem;
}
@media (max-width: 60em) {
  .card__details {
    padding: 1.4rem;
  }
}
@media (max-width: 34em) {
  .card__details {
    margin-bottom: 3.2rem;
  }
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 60em) {
  .card__details ul {
    width: 90%;
  }
}
.card__details li {
  font-size: 1.5rem;
  color: #999;
  text-align: center;
  padding: 1rem;
}
.card__details li:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}
.card__cta {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8rem;
  column-gap: 0rem;
}
@media (max-width: 34em) {
  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0);
    padding: 7rem 4rem 4rem 4rem;
    row-gap: 1.8rem;
  }
}
.card__price-box {
  width: 90%;
  text-align: center;
  color: #fff;
}
.card__price--only {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
@media (max-width: 34em) {
  .card__price--only {
    font-size: 1.4rem;
  }
}
.card__price--value {
  font-size: 6rem;
  font-weight: 100;
}
@media (max-width: 34em) {
  .card__price--value {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 34em) {
  .card__side--back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    margin-top: -5.5rem;
  }
}
.composition__photo {
  width: 55%;
  position: absolute;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 10;
  outline-offset: 2rem;
  transition: all 0.3s ease;
}
@media (max-width: 48em) {
  .composition__photo {
    display: inline-block;
    height: auto;
    width: 40%;
    outline-offset: 1.2rem;
  }
}
@media (max-width: 34em) {
  .composition__photo {
    width: 50%;
    outline-offset: 0.8rem;
  }
}
.composition__photo:hover {
  box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transform: scale(1.1) translateY(-0.5rem);
  outline: 1.5rem solid #55c57a;
  border-radius: 2rem;
  z-index: 20;
  cursor: pointer;
}
@media (max-width: 48em) {
  .composition__photo:hover {
    outline: 1rem solid #55c57a;
  }
}
@media (max-width: 34em) {
  .composition__photo:hover {
    outline: 1rem solid #55c57a;
  }
}
.composition__photo--1 {
  top: -2rem;
  left: 0;
}
@media (max-width: 48em) {
  .composition__photo--1 {
    left: 15%;
    top: -1rem;
  }
}
@media (max-width: 34em) {
  .composition__photo--1 {
    left: 10%;
    top: -2rem;
  }
}
.composition__photo--2 {
  top: 2rem;
  right: 0;
}
@media (max-width: 48em) {
  .composition__photo--2 {
    right: 8%;
  }
}
@media (max-width: 34em) {
  .composition__photo--2 {
    right: 5%;
  }
}
.composition__photo--3 {
  top: 10rem;
  left: 20%;
}
@media (max-width: 48em) {
  .composition__photo--3 {
    top: 15rem;
    left: 30%;
  }
}
@media (max-width: 34em) {
  .composition__photo--3 {
    top: 11rem;
    left: 22%;
  }
}
@media (max-width: 24em) {
  .composition__photo--3 {
    top: 8rem;
    left: 22%;
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.features__container {
  display: grid;
  column-gap: 3rem;
  row-gap: 4rem;
  justify-items: center;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
}
@media (max-width: 60em) {
  .features__container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0rem;
  column-gap: 0rem;
  padding: 2.5rem;
  font-size: 1.6rem;
  border-radius: 3px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.feature-box:hover {
  transform: translateY(-1rem) scale(1.05);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.feature-box__icon {
  font-size: 6rem;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.feature-box__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0rem;
  column-gap: 0rem;
}

.header__logo-box {
  display: inline-block;
  padding: 2rem;
  position: absolute;
  top: 3rem;
  left: 2rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.2rem;
}
@media (max-width: 34em) {
  .header__text-box {
    gap: 5.4rem;
  }
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.popup__content {
  width: 75%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
  display: grid;
  grid-template-columns: 1fr 2fr;
  transform: scale(0.3);
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__right {
  padding: 3rem 5rem;
  position: relative;
}
.popup__text {
  font-size: 1.5rem;
  color: #999;
  margin-bottom: 3rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eeeeee;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.popup__close:link, .popup__close:visited {
  text-decoration: none;
  font-size: 3rem;
  color: #999;
  position: absolute;
  top: 0;
  right: 2rem;
  transition: all 0.3s ease;
}
.popup__close:hover {
  color: #55c57a;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: scale(1);
}

.btn--popup {
  padding: 1.2rem 2rem !important;
}

.story__container {
  margin-bottom: 8rem;
}
.story {
  width: 75%;
  padding: 6rem 6rem 6rem 9rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: skewX(-12deg);
}
@media (max-width: 60em) {
  .story {
    width: 85%;
  }
}
@media (max-width: 48em) {
  .story {
    width: 85%;
    padding: 4rem;
    padding-inline: 6rem;
  }
}
@media (max-width: 34em) {
  .story {
    width: 92%;
    padding: 2rem;
    padding-inline: 2rem;
    transform: skewX(-6deg);
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2.4rem;
  }
}
@media (max-width: 24em) {
  .story {
    transform: skewX(0deg);
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50%);
  position: relative;
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
@media (max-width: 34em) {
  .story__shape {
    width: 8rem;
    height: 8rem;
    transform: translateX(0rem) skewX(6deg);
  }
}
@media (max-width: 24em) {
  .story__shape {
    transform: translateX(0rem) skewX(0deg);
  }
}
.story__img {
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.5s ease;
  transform: translateX(-4rem) scale(1.4);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 1.7rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease;
}
.story__text {
  transform: skewX(12deg);
}
@media (max-width: 34em) {
  .story__text {
    transform: skewX(6deg);
  }
}
@media (max-width: 24em) {
  .story__text {
    transform: skewX(0deg);
  }
}
@media (max-width: 48em) {
  .story__text h3 {
    margin-bottom: 0rem;
  }
}
.story:hover .story__caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(5px) brightness(80%);
}

.tours__grid {
  display: grid;
  column-gap: 6rem;
  row-gap: 0rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 8rem;
}
@media (max-width: 60em) {
  .tours__grid {
    column-gap: 3rem;
    margin-inline: 1rem;
  }
}
@media (max-width: 48em) {
  .tours__grid {
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }
}
.tours__grid-card {
  width: 100%;
}
@media (max-width: 48em) {
  .tours__grid-card {
    width: 50%;
  }
}
@media (max-width: 34em) {
  .tours__grid-card {
    width: 80%;
  }
}

.footer {
  padding: 10rem 0;
  background-color: #333;
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 4rem;
}
.footer__logo {
  display: inline-block;
  width: 15rem;
  height: auto;
}
.footer__text-container {
  padding-inline: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4.8rem;
}
@media (max-width: 60em) {
  .footer__text-container {
    flex-direction: column;
  }
}
@media (max-width: 48em) {
  .footer__text-container {
    padding-inline: 2rem;
    align-items: center;
  }
}
@media (max-width: 34em) {
  .footer__text-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: start;
    column-gap: 6.4rem;
  }
}
.footer__links, .footer__copyright {
  padding-top: 2rem;
  border-top: 1px solid #999;
}
.footer__copyright {
  width: 22%;
}
@media (max-width: 60em) {
  .footer__copyright {
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
@media (max-width: 34em) {
  .footer__list {
    flex-direction: column;
  }
}
.footer__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #f7f7f7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.copyright--text span {
  display: block;
  font-size: 1.2rem;
  color: #f7f7f7;
  text-align: center;
}
.copyright--text span:not(:last-child) {
  margin-bottom: 1.2rem;
}

.copyright__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #f7f7f7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer__link:hover,
.copyright__link:hover {
  transform: scale(1.3) skewY(5deg);
  background-color: #333;
  color: #55c57a;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  column-gap: 0rem;
  row-gap: 0rem;
  justify-items: center;
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media (max-width: 48em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 85vh);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 85vh);
  }
}
@media (max-width: 34em) {
  .header {
    min-height: 85vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 85vh);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 80vh);
  }
}

.navigation {
  position: relative;
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 200;
}
@media (max-width: 48em) {
  .navigation__button {
    top: 4.5rem;
    right: 5rem;
  }
}
@media (max-width: 34em) {
  .navigation__button {
    width: 5.2rem;
    height: 5.2rem;
  }
}
@media (max-width: 24em) {
  .navigation__button {
    top: 3rem;
    right: 2.5rem;
  }
}
.navigation__icon {
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: #333;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 34em) {
  .navigation__icon {
    width: 2.2rem;
    height: 1.5px;
  }
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: #333;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 34em) {
  .navigation__icon::before, .navigation__icon::after {
    width: 2.2rem;
    height: 1.5px;
  }
}
.navigation__icon::before {
  transform: translateY(-0.8rem);
}
@media (max-width: 34em) {
  .navigation__icon::before {
    transform: translateY(-0.6rem);
  }
}
.navigation__icon::after {
  transform: translateY(0.8rem);
}
@media (max-width: 34em) {
  .navigation__icon::after {
    transform: translateY(0.6rem);
  }
}
.navigation__background {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 6.5rem;
  right: 6.4rem;
  z-index: 100;
  transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
}
@media (max-width: 48em) {
  .navigation__background {
    top: 5rem;
    right: 5.5rem;
  }
}
@media (max-width: 34em) {
  .navigation__background {
    width: 4.2rem;
    height: 4.2rem;
  }
}
@media (max-width: 24em) {
  .navigation__background {
    top: 3.5rem;
    right: 3rem;
  }
}
.navigation__nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  list-style: none;
  text-align: center;
}
.navigation__item {
  margin: 1.2rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1.2rem 2rem;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.5s ease;
}
.navigation__link:hover, .navigation__link:active {
  color: #55c57a;
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__link span {
  display: inline-block;
  margin-right: 1.5rem;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible;
}
.navigation__button:hover .navigation__icon::before {
  transform: translateY(-1rem);
}
.navigation__button:hover .navigation__icon::after {
  transform: translateY(1rem);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
}

.section__about {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin-top: -20vh;
}
@media (max-width: 60em) {
  .section__about {
    padding-top: 30rem;
  }
}
@media (max-width: 48em) {
  .section__about {
    padding-top: 15rem;
  }
}
@media (max-width: 26em) {
  .section__about {
    padding-bottom: 12rem;
  }
}

.section__features {
  padding: 25rem 2rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.section__features > * {
  transform: skewY(7deg);
}
@media (max-width: 48em) {
  .section__features {
    padding: 15rem 2rem;
  }
}
@media (max-width: 26em) {
  .section__features {
    padding: 8rem 2rem;
  }
}

.section__tours {
  padding: 25rem 0 15rem 0;
  background-color: #f7f7f7;
  margin-top: -10rem;
}
@media (max-width: 48em) {
  .section__tours {
    padding: 20rem 0 10rem 0;
  }
}
@media (max-width: 34em) {
  .section__tours {
    padding: 15rem 0 10rem 0;
  }
}
@media (max-width: 24em) {
  .section__tours {
    padding: 18rem 0 10rem 0;
  }
}

.section__stories {
  position: relative;
  padding: 15rem 0;
}
@media (max-width: 34em) {
  .section__stories {
    padding: 6rem 0;
  }
}
@media (max-width: 24em) {
  .section__stories {
    padding: 4rem 0;
  }
}

.section__cta {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
@media (max-width: 48em) {
  .section__cta {
    padding: 8rem 0;
  }
}
@media (max-width: 34em) {
  .section__cta {
    padding: 5rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
